# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
../out/
.xml
/intellij-javadocs-4.0.1.xml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
